.containerKhoe{
  max-height: 300px !important;
  overflow-y: auto !important;
}

.productTable-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
    max-height: 600px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .product-table th {
    background-color: #f4f4f4;
  }
  
  .product-table img {
    border-radius: 8px;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tr:hover {
    background-color: #f1f1f1;
  }
  