.login {
  z-index: 1000; /* hoặc nhỏ hơn */
  position: fixed; /* hoặc absolute nếu đang dùng */
}

.forgot-login {
  z-index: 9999;  /* Lớn hơn login */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Tùy chọn lớp nền tối */
  display: flex;
  justify-content: center;
  align-items: center;
}


.forgot-login-modal {
    z-index: 9999; 
  background-color: #1a1a1b;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  color: #d7dadc;
  position: relative;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}

.forgot-login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-close-btn {
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 20px;
}

.forgot-login-modal input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2a2a2b;
  color: #ffffff;
  font-size: 16px;
}

.forgot-form-group {
  margin: 20px 0;
}

.sentagain {
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.sentagain:hover {
  color: aqua;
}
