.login {
  z-index: 1000; /* hoặc nhỏ hơn */
  position: fixed; /* hoặc absolute nếu đang dùng */
}

.change-login {
  position: fixed;           /* Cố định trên màn hình */
  top: 0;
  left: 0;
  width: 100vw;              /* Chiếm toàn bộ chiều rộng màn hình */
  height: 100vh;             /* Chiếm toàn bộ chiều cao màn hình */
  background-color: rgba(0, 0, 0, 0.6);  /* Lớp nền mờ */
  display: flex;             /* Canh giữa nội dung */
  justify-content: center;
  align-items: center;
  z-index: 9999;             /* Đè lên tất cả */
}

.change-login-modal {
height:484px;
    background-color: #1a1a1b;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    color: #d7dadc;
    position: relative;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    
}

.change-login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change-close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top:5px;
    right: 20px;
    font-size: 40px;
}
.change-login-modal input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2a2a2b;
    color: #ffffff;
    font-size: 16px;
}
.change-form-group {
    margin: 20px 0;
}